{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}EIS{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    {% block scripts %}

    {% endblock %}

    {% block styles %}

    {% endblock %}
</head>
<body>
<main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">EIS</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item me-3"><a href="{% url 'get-api' %}" class="nav-link active"
                                             aria-current="page">Получить данные из API</a></li>
                <li class="nav-item me-3"><a href="{% url 'get-subjects' %}" class="nav-link active"
                                             aria-current="page">Отображение данных</a></li>
            </ul>

        </header>
        {% block content %}

        {% endblock %}
    </div>
    <a href=""></a>

</main>
</body>
</html>